nuxeo-labs-dynamic-fields-core/src/main/resources/schemas/dynamic-fields.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:nxs="http://www.nuxeo.org/ecm/schemas/dynamic-fields"
           xmlns:nxsv="http://www.nuxeo.org/ecm/schemas/core/validation/"
           xmlns:ref="http://www.nuxeo.org/ecm/schemas/core/external-references/"
           targetNamespace="http://www.nuxeo.org/ecm/schemas/dynamic-fields">

  <xs:element name="customerId" type="xs:string" nxsv:nillable="false" />
  <xs:element name="schemaDef" nxsv:nillable="false">
    <xs:simpleType>
      <xs:restriction base="xs:string" ref:resolver="documentResolver" ref:store="id"/>
    </xs:simpleType>
  </xs:element>

  <!-- One entry per dynamic field, only the column matching the field type is populated -->
  <xs:complexType name="fieldValue">
    <xs:sequence>
      <xs:element name="fieldName" type="xs:string" nxsv:nillable="false" />
      <xs:element name="stringValue" type="xs:string" />
      <xs:element name="integerValue" type="xs:long" />
      <xs:element name="doubleValue" type="xs:double" />
      <xs:element name="booleanValue" type="xs:boolean" />
      <xs:element name="dateValue" type="xs:date" />
      <xs:element name="blobValue" type="nxs:blobContent" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="blobContent">
    <xs:sequence>
      <xs:element name="encoding" type="xs:string" />
      <xs:element name="mime-type" type="xs:string" />
      <xs:element name="data" type="xs:base64Binary" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="length" type="xs:long" />
      <xs:element name="digest" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fieldValueList">
    <xs:sequence>
      <xs:element name="item" type="nxs:fieldValue" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="values" type="nxs:fieldValueList" />

</xs:schema>
